<div class="box">
    <div class="box-body">
        <div class="row">
            <div class="col-xs-12">
                <a href="javascript:;" data-bind="click:showCalendar, style: step() == STEPS.ShowingCalendar ? {fontWeight: 'bold'} : {fontWeight: '400'}"
                    style="margin-right: 10px;">Calendário</a>
                <a href="javascript:;" data-bind="click:showNextEvents, style: step() == STEPS.ShowingNextEvents ? {fontWeight: 'bold'} : {fontWeight: '400'}"
                    style="margin-right: 10px;">Próximos eventos</a>
            </div>
        </div>
        <!-- ko if: step() == STEPS.ShowingCalendar -->
        <div data-bind="fullCalendar:calendarViewModel"></div>
        <a href="javascript:;" style="position:absolute; bottom: 30px; right: 30px; z-index: 1" class="btn btn-fab btn-danger ripple"
            data-bind="click:showEventInput">
            <i class="glyphicon glyphicon-plus"></i>
        </a>
        <!-- /ko -->
        <!-- ko if: step() == STEPS.ShowingNextEvents -->
        <h3>Próximos Eventos
            <i class="fa fa-filter filter" data-bind="click:showFilters"></i>
        </h3>
        <div class="no-padding overflow-scroll list-group" style="height:400px;">
            <ul data-bind="foreach:nextEvents" class="event-list">
                <li>
                    <time>
                        <span class="day" data-bind="text:Day"></span>
                        <span class="month" data-bind="text:Month"></span>
                    </time>
                    <div class="info">
                        <h2 class="title" data-bind="text:Name"></h2>
                        <p class="desc" data-bind="text:Description"></p>
                        <p class="desc" data-bind="text:SubDescription"></p>
                    </div>
                </li>
            </ul>
        </div>
        <a href="javascript:;" style="position:absolute; bottom: 30px; right: 30px; z-index: 1" class="btn btn-fab btn-danger ripple"
            data-bind="click:showEventInput">
            <i class="glyphicon glyphicon-plus"></i>
        </a>
        <!-- /ko -->
        <!-- ko if: step() == STEPS.AddingNew -->
        <!-- ko with: newEvent -->
        <h3>Novo evento</h3>
        <div class="row">
            <div class="form col-xs-12">
                <div class="form-group col-xs-12">
                    <label class="control-label">Título</label>
                    <input type="text" class="form-control" data-bind="value:Name" />
                    <span data-bind="validationMessage:Name"></span>
                </div>
                <div class="form-group col-xs-12">
                    <label class="control-label">Descrição</label>
                    <input type="text" class="form-control" data-bind="value:Description" />
                    <span data-bind="validationMessage:Description"></span>
                </div>
                <div class="form-group col-xs-12 col-sm-3 col-md-2">
                    <label class="control-label">Data</label>
                    <input type="date" class="form-control" data-bind="value:BeginDate" />
                </div>
                <!-- ko ifnot: allDay -->
                <div class=" form-group col-xs-12 col-sm-3 col-md-2 ">
                    <label class="control-label ">Horário</label>
                    <input type="time" class="form-control" data-bind="value:BeginHour" />
                </div>
                <div class="form-group col-xs-12 col-sm-3 col-md-2 ">
                    <label class="control-label ">Data</label>
                    <input type="date" class="form-control" data-bind="value:EndDate" />
                </div>
                <div class="form-group col-xs-12 col-sm-3 col-md-2 ">
                    <label class="control-label ">Horário</label>
                    <input type="time" class="form-control" data-bind="value:EndHour" />
                </div>
                <!-- /ko -->
                <div class="checkbox col-xs-12 ">
                    <label>
                        <input type="checkbox" data-bind="checked:allDay" /> Dia inteiro
                    </label>
                </div>
                <div class="col-xs-12 ">
                    <button type="button" class="btn btn-flat btn-success ripple" data-bind="click:$parent.save">Inserir</button>
                </div>
            </div>
        </div>
        <!-- /ko -->
        <!-- /ko -->
        <!-- ko if: step() == STEPS.ShowingFilter -->
        <!-- ko with: filter -->
        <div class="form-group col-xs-12">
            <label class="control-label">Título</label>
            <input type="text" class="form-control" data-bind="value:Name" />
            <span data-bind="validationMessage:Name"></span>
        </div>
        <div class="form-group col-xs-12">
            <label class="control-label">Descrição</label>
            <input type="text" class="form-control" data-bind="value:Description" />
            <span data-bind="validationMessage:Description"></span>
        </div>
        <div class="form-group col-xs-12 col-sm-3 col-md-2">
            <label class="control-label">Data</label>
            <input type="date" class="form-control" data-bind="value:BeginDate" />
        </div>
        <div class="col-xs-12">
            <button type="button" class="btn btn-primary btn-flat ripple">Aplicar</button>
            <button type="button" class="btn btn-danger btn-flat ripple">Cancelar</button>
        </div>
        <!-- /ko -->
        <!-- /ko -->
        </div>
</div>